<% content_for :title do %>
  All the products
<% end %>

<h1>Listing products</h1>
<button><%= link_to 'All comments', comments_path %></button>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>

<%= link_to 'New Product', new_product_path %>